/* app css stylesheet */
* {
　font-family: 'Source Sans Pro','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
}

/**
 * Common
 */
a {
  color: #32B490;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #52D4B0;
  text-decoration: none;
}
.bg {
  /*background-image: url(../images/e0e0e0.png);*/
  background-color: #3F4158;
}
.icon {
  border-radius: 4px;
  padding-right: 10px;
}
.manage {
  font-size: 14px;
}
.user {
  padding-right: 25px;
}
.sign {
  font-size: 14px;
}
.fa {
  padding-right: 3px;
}
.btn-action {
  color: #3F4158;
  background-color: #32B490;
}
.btn-action:hover {
  color: #3F4158;
  background-color: #52D4B0;
}
.container {
    height: 100%;
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3F4158;
}
.breadcrumb {
  /*border-bottom: 2px solid #FEF4E3;*/
  border-bottom: 1px solid #FFF;
  border-radius: 0px !important;
  background-color: #3F4158;
}
.breadcrumb > .active{
  color: #FEF4E3;
}

/**
 * Room
 */
.room-panel {
  /*background-color: #FEF4E3;*/
  background-color: #3F4158;
  border: 2px solid #FEF4E3;
}
.room-tag {
  font-size: 0.7em;
  color: #3F4158;
}
.panel-magin {
  margin-top: 30px;
}

/**
 * Post(Room, user)
 */
.post-panel {
  background-color: #3F4158;
  border: 2px solid #FEF4E3;
}
.panel-thumbnail {
  max-width: 240px;
  height: auto;
}
.post-tab {
  padding-top: 20px;
}
.post-list {
  padding-top: 40px;
}
.thumbnail {
  padding: 0px;
  background-color: #3F4158;
}
.jumbotron-img {
  width: 100%;
  height: auto;
}
.post-profile {
  padding: 0 0 15px 15px;
}
.post-profile img {
  border-radius: 4px;
}
.post-profile .screen-name {
  font-size: 0.6em;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #3F4158;
  cursor: default;
  background-color: #FEF4E3;
  border: 1px solid #FEF4E3;
  border-bottom-color: transparent;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}
.tab-list {
  padding-top: 40px;
}
#myCanvas{
  border-bottom: 1px solid rgba(0,0,0,0.3);
  cursor: default;
}
.action-list {
  padding-right: 20px;
}
.submit-btn {
  padding: 12px 0;
}
.action-vertical {
  margin-bottom: 40px;
}
.line-width {
  color: #FEF4E3;
}
.undo-btn {
  border-right: 1px solid #129470;
}
.redo-btn {
  border-left: 1px solid #129470;
}
.header .title {
  font-size: 30px;
}
.display-hide {
  display: none;
}
.note {
  padding-top: 15px;
  color: #eee;
}
.tag {
  font-size: 0.8em;
  color: #ddd;
  /*color: #8F7188;*/
  padding-top: 10px;
}
.tag:hover {
  font-size: 0.8em;
  /*color: #9F91A8;*/
  color: #fff;
  padding-top: 10px;
}
.help-block {
  color: #FEF4E3;
}
.color-box {
  width:30px;
  height:30px;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  float: left;
}
.current-color {
  margin-left: 40px;
  border: 1px solid #FEF4E3;
}
.pen-color-code {
  font-size: 20px;
  /*margin-left: px;*/
  color: #FEF4E3;
}
.center {
  margin-left : auto ;
  margin-right : auto ;
}

/**
 * font-awesome
 */
.icon-retweet {
  color: #85B95E;
}
.star {
  color: #eee;
}
.icon-stared {
  color: #FF9B00;
}

.icon-twitter {
  color: #009FE9;
}

.icon-brush {
  color: #3F4158;
}
.icon-spoit {
  color: #3F4158;
}

.fa {
  padding-right: 3px;
  padding-left: 15px;
}