.container
  .panel-magin
    div(ng-repeat='room in rooms')
      .col-md-4
        div
          a(href='/room/{{room.id}}')
            .jumbotron.room-panel.room-wrap
              h2 {{room.idToUpper}}
              //- .room-tag {{room.tag.word}}
              | {{room.startedAt}} - {{room.endedAt}}
              p
              //- .theme-words
              //-   {{room.theme.words}}
