.container(ng-controller-'RoomCtrl')
  //- a.btn.btn-link.pull-right(href='/test') test
  .panel-magin
    ol.breadcrumb
      li
        a(href='/') Home
      li.active
        {{room.tag.word}}
    p
    img.center-block(width='{{width}}', height='{{height}}', ng-src='{{workURL}}', ng-if='isFinished')
    button.btn.btn-lg.btn-action.center-block(ng-click='tweet()', ng-if='isFinished') ツイートする

    canvas#myCanvas.center-block.controller(width='{{width}}', height='{{height}}', drawing, ng-if='isAuthenticated && !isFinished')
    button.btn.btn-lg.btn-action.center-block(ng-click='convertToImage()', ng-if='!isFinished') 投稿する
    tabset
      tab.post-tab(heading='新着')
        .post-list
          div(ng-repeat='post in posts | orderBy: "createdAt": true')
            .col-sm-6.col-md-4
             .thumbnail.post-panel
                a(href='/post/{{post._id}}')
                  img.jumbotron-img.fade(img-preload, ng-src="/blob/{{post._id}}.{{post.fileType}}")
                .media.post-profile
                  a.pull-left(href='/user/{{post.user._id}}')
                    img.media-object(src='{{post.user.icon}}')
                  .media-body
                    a(href='https://twitter.com/{{post.user.name}}', target='_blank')
                      h4.user-data.media-heading.username @{{post.user.name}}
                        span.screen-name
                          　{{post.user.screenName}}
                    a(href='{{post.user.url}}', target='_blank')
                      {{post.user.url}}
                    //- i.fa.fa-heart(ng-if='post.fav')
                    //- i.fa.fa-heart-o(ng-if='!post.fav')

      tab.post-tab(heading='ランキング')
        .post-list
          div(ng-repeat='rankingPost in rankingPosts | orderBy: "createdAt": true')
            .col-sm-6.col-md-4
             .thumbnail.post-panel
                img.jumbotron-img.fade(img-preload, ng-src="/blob/{{rankingPost._id}}.{{rankingPost.fileType}}")
                a(href='https://twitter.com/{{rankingPost.user.name}}', target='_blank')
                .media.post-profile
                  a.pull-left(href='/user/{{rankingPost.user._id}}')
                    img.media-object(src='{{rankingPost.user.icon}}')
                  .media-body
                    a(href='https://twitter.com/{{rankingPost.user.name}}', target='_blank')
                      h4.user-data.media-heading.username @{{rankingPost.user.name}}
                        span.screen-name
                          　{{rankingPost.user.screenName}}
                    a(href='{{rankingPost.user.url}}', target='_blank')
                      {{rankingPost.user.url}}

